<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-italic">Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="onLoginHandler(loginForm)">

            <div class="form-group">
                <label for="email">Email address</label>
                <input #emailInput="ngModel" ngModel name="email" required type="text" id="email" class="form-control"
                    placeholder="john.doe@domain.bg" pattern="^.{6,}@gmail\.(bg|com)$">
                <p invalidValidation *ngIf="emailInput.invalid && emailInput.touched">
                    Invalid email</p>
                <p validValidation *ngIf="emailInput.valid">Validation passed</p>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input #passwordInput="ngModel" ngModel required name="password" type="password" id="password"
                    class="form-control" placeholder="************" minlength="6">
                <p invalidValidation *ngIf="passwordInput.invalid && passwordInput.touched">Invalid
                    password
                </p>
                <p validValidation *ngIf="passwordInput.valid">Validation passed</p>
            </div>

            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">Login</button>
            <p invalidValidation *ngIf="loginForm.invalid && loginForm.touched">You can't continue until you provide
                a
                valid data</p>
        </form>
        <p>Don't have account yet? <a routerLink="/user/register">Register</a>.</p>
    </div>
</div>