<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="{{ carImage }}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{startPoint}} - {{endPoint}}</h4>
        </div>
        <div class="card-footer">
            <a href="/tripp/details-tripp/{{ _id }}" class="btn btn-primary">Find Out More!</a>
        </div>
    </div>
</div>