<section class="py-5 bg-image-full"
    style="background-image: url('https://web-assets.cdn.dealersolutions.com.au/modular.multisite.dealer.solutions/wp-content/uploads/2018/03/17144131/Ford_Ranger_2-1900x1080.jpg'); background-repeat: no-repeat;">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 70vh;"></div>
</section>
<section class="py-5">
    <div class="container">
        <h1>SharedTripp</h1>
        <div>
            <p class="lead" style="font-size: 24px; font-style: italic;">"Because the greatest part of a road trip
                isn't arriving at your destination. It's all the wild stuff that happens along the way..."
            </p>
        </div>
    </div>
</section>